@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap");
/* CONSTANTS  */

:root {
  --greenpea-dark1: #034229;
  --greenpea-dark2: #044e32;
  --greenpea: #115b41;
  --greenpea-light: #226c54;
  --asparagus-dark1: #4d641e;
  --asparagus-dark2: #637930;
  --asparagus: #798f42;
  --asparagus-light: #97ad5a;
  --offwhite: #f6eee3;
  --main-bg-color: var(--greenpea-dark1);
  --font-headings: "Poppins", sans-serif;
  --font-body: "Poppins", sans-serif;
  --padding: 1.5rem;
}

/* GET RID OF TWINE STYLES */
#story {
  margin: 0;
}

#passages {
  max-width: 100%;
}

#story a.link-external:after {
  content: "";
}

button,
.inline-btn-wrapper > a {
  background-color: var(--color-yellow);
  color: var(--offwhite);
  border: var(--offwhite) 1px solid;
  border-radius: 3px;
  font-family: var(--font-headings);
  text-transform: uppercase;
  padding: 5px;
  box-shadow: var(--accent-color-shadow) 4px 4px;
}

button:hover {
  background-color: var(--color-pink);
  border: var(--offwhite) 1px solid;
  color: var(--offwhite);
}

button:focus,
.inline-btn-wrapper > a {
  transform: translate(2px, 2px);
  box-shadow: var(--accent-color-shadow) 1px 1px;
}

a {
  color: var(--accent-color-secondary);
}

a:active {
  background-color: var(--color-pink);
}

a:hover {
  color: var(--offwhite);
}

#story a.link-external:after {
  content: "";
}

#story {
  margin: 0;
}

/* GENERAL STYLES */
body {
  font-size: 1.6rem;
  font-family: var(--font-body);
  overflow: scroll;
  background: var(--main-bg-color);

  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-headings);
  margin-block-end: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding);
}

.header-item > h1 {
  font-size: 2rem;
}

.header-item > h3.subtitle {
  text-align: center;
  font-size: 1.5rem;
  font-family: var(--font-body);
  margin-block-end: 2rem;
}

main {
  padding: var(--padding);
  min-height: 80vh;
  margin-block-end: 10rem !important;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

/* inline button  */

.inline-btn-wrapper {
  display: inline-block;
  margin: 4px 5px;
}

/* .inline-btn-wrapper > a {
  border: 1px solid white;
  padding: 5px;
  border-radius: 5px;
  color: white;
} */

/* footer  */
footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: fixed;
  bottom: 0;
  padding: var(--padding);
  width: 100%;
  background-color: var(--main-bg-color);
}

nav {
  display: flex;
  justify-content: space-between;
}

.nav-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nav-wrapper:last-child {
  display: flex;
  align-items: flex-end;
}

.nav-item {
  margin-block-end: 1rem;
}

.nav-item > a > img {
  width: 25px;
}

.nav-item:last-child {
  margin-block-end: 0;
}

.nav-item > button {
  font-size: 1.6rem;
}

.hide {
  display: none;
  opacity: 0;
}

/* INPUTS  */
.css-input.code-input > input {
  border: 1px white solid;
  border-radius: 5px;
}

input:not(:disabled):hover {
  background-color: var(--asparagus-light);
  color: var(--greenpea-dark2);
}

textarea {
  min-width: 80vw;
  border: solid white 1px;
}

.menu-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.menu-wrapper > button {
  margin-inline-end: 10px;
  margin-block-end: 10px;
}

.detector {
  width: 50%;
}

.spinning {
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* transform: rotate(3deg); */
  /* transform: rotate(0.3rad);/ */
  /* transform: rotate(3grad); */
  /* transform: rotate(.03turn);  */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* MAP */
.map {
  width: 100%;
  height: 60vh;
  border: 0;
  margin: auto;
}

.gm-style .directions-card {
  display: none !important;
}

@media screen and (min-width: 450px) {
  .map {
    max-width: 60vw;
    height: 50vh;
    border: 0;
  }
}

/* SHOW NOTHING ON A COMP  */

/* .comp-warning {
  display: none;
}

@media screen and (min-width: 500px) {
  main {
    display: none !important;
  }
  .comp-warning {
    text-align: center;
    display: inherit;
  }
} */

/* PULSE ANIMATION  */
.circle {
  /* width: 35px;
  height: 35px; */
  border-radius: 50%;
  box-shadow: 0px 0px 1px 1px #0000001a;
}

.pulse {
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}

/* FRAMING  */
main.framing > p {
  font-size: 2rem;
  text-align: center;
}

/* MAP */
.house-wrapper {
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 22% 10% 12% 7% 50%;
  grid-template-areas:
    "a a a a a"
    ". . . d ."
    ". c . . ."
    ". e . b ."
    ". . . . .";
}

.housemap.codeword {
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  z-index: 10000;
}

img.housemap {
  grid-area: a;
  width: 100%;
  /* top: 0;
    left: 0;
    position: absolute;
    width: 100vw; */
}

.garden {
  grid-area: b;
  z-index: 100000;
  width: 100%;
}

.dining {
  grid-area: c;
  z-index: 100000;
  width: 100%;
}

.bedroom {
  grid-area: d;
  z-index: 100000;
  width: 100%;
}

.basement {
  grid-area: e;
  z-index: 100000;
  width: 100%;
}

/* BUG BNB */

.avatar-icon > img {
  max-width: 60px;
  position: absolute;
  right: 3%;
  margin-top: -4rem;
}
.review-container {
  background-color: var(--greenpea-dark2);
  padding: 2rem;
  width: 100%;
  margin-bottom: 2rem;
  border: 1px solid white;
}

.rating-container {
  display: flex;
  justify-content: left;
  gap: 1rem;
  margin-bottom: 2rem;
}

.rating-container > .rating-item {
}

.rating-container > .rating-item > img {
  max-width: 35px;
}

.amenities-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
  max-height: 100px;
}

.amenities-container > .amenities-item {
  display: flex;
  justify-content: left;
  align-items: center;
}

.amenities-container > .amenities-item > p {
  margin-bottom: 0;
  margin-right: 1rem;
}

.amenities-container > .amenities-item > img {
  max-width: 25px;
}

.radio-options {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.radio-options > label {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}

.confirmation {
  position: absolute;
  right: 5%;
  background-color: orange;
  padding: 5px;
  color: black;
  transform: rotate(-5deg);
}

/* review questions */

main.main-section.reviewq {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

main.main-section.reviewq > img {
  max-width: 130px;
  margin-bottom: 2rem;
}

main.main-section.reviewq > p {
  text-align: center;
}

/* SPOTTING GAME  */

/* emitter */
.detector {
  max-width: 500px;
  width: 70%;
  margin: auto;
  display: flex;
}

.spinning {
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
